{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2>Todas las tareas ✅</h2>

    <table>
        <tr>
            <th>Tareas</th>
            <th>Prioridad</th>
            <th>Horas presupuestadas</th>
            <th>Acciones</th>
        </tr>

        {%  for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.priority }}</td>
                <td>{{ task.hours }}</td>
                <td class="buttons">
                    <a href="{{ path('task_detail', {'id':task.id}) }}" class="btn_ver">Ver</a>
                    <a href="#" class="btn_editar">Editar</a>
                    <a href="#" class="btn_eliminar">Eliminar</a>
                </td>
            </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}
